@import "../../../_style-variables";
.users__pages-list{
    margin: 0;
    padding: 0;
    display: flex;
    width: 500px;
    cursor: default;
}
.users__pages-item--current {
    font-weight: bold;
}

.users__list {
    width: 100%;
    max-width: 700px;
    list-style: none;
    margin: 0 auto;
}
.user-preview {
    margin: 10px 0;
    border-radius: $primary-border-radius;
    background-color: $app-primary;
    width: 100%;
    height: 100px;

    padding: 10px;

    display: flex;

    &__avatar {
        border-radius: 50%;
        width: 80px;
        & img{
            height: 100%
        }
    }
    &__info {
        width: 100%;
        padding-left: 10px;
        display: flex;
        flex-direction: column;

        p {
            margin: 0;
        }
    }
    &__unfollow {
        cursor: pointer;
        margin-top: auto;
        align-self: flex-end;

        text-align: center;
        vertical-align: middle;

        width: 80px;
        height: 25px;

        background-color: $app-secondary;

        border-radius: $primary-border-radius;

        color: #fff;
    }
    &__follow {
        cursor: pointer;

        margin-top: auto;
        align-self: flex-end;

        text-align: center;
        vertical-align: middle;

        width: 80px;
        height: 25px;

        border-radius: $primary-border-radius;

        background-color: $app-primary;
        color: #000;
        border: 0.7px solid #333;
    }
}
