.sign-in-page {
    width: auto;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        url("https://drscdn.500px.org/photo/7088995/q%3D80_m%3D2000/v2?sig=ad6dbeea0dc0bb4d519d49e7747d32815d72b57f9bc049e1b3401c46a62bfc8a");
    &__form {
        position: absolute;

        left: 50%;
        top: 50%;

        transform: translate(-50%, -60%);

        width: 40%;
        max-width: 400px;
        box-shadow: 0px 0px 20px -10px #000;
    }
}
