.input {
    display: flex;
    flex-direction: column;

    &--error {
        .input__field {
            border: 1px solid #ff0033;
            outline-color: #ff0033;
        }

        .input__alert {
            display: block;
            color: #ff0033;
        }
    }
    &__field {
        height: 35px;
    }

    &__alert {
        min-height: 25px;
    }
}
