.button {
    height: 35px;
    min-width: 80px;

    background-color: #3484f0;
    border: none;
    border-radius: 2px;

    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.button:hover {
    filter: brightness(0.9
    );
}
