.social-network-button {
    font-size: 0;
    width: 40px;
    height: 40px;
    background: center no-repeat;
    cursor: pointer;
    &--facebook {
        background-image: url(./../../lib/facebook.svg);
    }
}
