@import "../../_style-variables";

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 6vh 1fr;

  background-color: $app-background;
}

.app__content {
  padding: 20px;
}
