@import "../../_style-variables";

.app {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 8fr 2fr;
  grid-template-rows: 6vh 1fr;
}

.app__content {
  padding: 40px;
  position: relative;
}
