.sign-in-form {
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    &__title {
        margin: 0;
        margin-left: 10px;
        font-weight: 100;
    }
    &__help-info {
        margin: 0px;
        margin-bottom: 5px;
    }
    &__alert {
        color: #ff0033;
        margin: 0;
        min-height: 20px;
    }
    &__checkbox {
        padding-bottom: 5px;
    }
    &__captcha {
        height: auto;
        width: 65%;
        align-self: center;
    }
    &__captcha-refresh {
        color: #3484f0;
        font-size: 15px;
        cursor: pointer;
        text-align: center;
        padding: 5px 0;
    }
    &__button {
        margin-top: 10px;
    }
    &__help-button {
        background-color: #fff;
        border: none;
        color:  #3484f0;
        font-weight: 500;
        margin-top: 5px;
    }
}
