@import "../../../_style-variables.scss";
.profile-page {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-gap: 3%;

    &__photo-follow {
        @extend %primary-card-style;
        grid-column: 1/5;
    }
    &__avatar {
        // grid-row: 1/3;
        // height: 150px;
        width: 100%;
        border-radius: $primary-border-radius;
    }
    &__follow-button {
        justify-self: center;
        width: 100%;
        height: 35px;
        margin-top: 10px;
        // border-radius: $secondary-border-radius;
    }
    &__info {
        position: relative;
        @extend %primary-card-style;
        grid-column: 5/13;
        display: flex;
        flex-direction: column;
        align-items: stretch;
    }
    &__name {
        align-self: flex-start;
        font-size: 2rem;
        margin: 0;
    }

    &__status {
        width: 100%;
    }
    &__contacts {
        flex-grow: 1;
    }

    &__job {
        border: 1px solid #bbb;
        background-color: $app-secondary-background;
        border-radius: $secondary-border-radius;
        min-height: 30px;
        width: 100%;
        margin-top: 10px;
        padding: 0 5px;
        span {
            font-weight: 500;
        }
    }
}

.contacts {
    padding-top: 10px;
    &__title {
        color: #aaa;
        font-size: 12px;
    }
}

.headline {
    padding: 2.5px 5px;
    cursor: pointer;
    &:hover {
        background-color: $app-secondary-background;
    }
    &__title {
        word-break: break-all;
        margin: 0;
        min-height: 20px;
    }

    &--editing {
        .headline-form {
            transform: translate(-50%, 0);
            left: 50%;
            width: 105%;
            height: 70px;
            position: absolute;
            @extend %primary-card-style;
            padding: 5px;
            box-shadow: 0px 0px 5px 0px #aaa;
            display: flex;
            flex-wrap: wrap;
            &__title {
                color: #aaa;
                width: 100%;
                margin: 0;
            }
            &__input {
                border: 1px solid #aaa;
                border-radius: $secondary-border-radius;
                flex-grow: 1;
                margin-right: 5px;
                height: 30px;
                align-self: center;
            }

            &__button {
                height: 25px;
                align-self: center;
                border-radius: $secondary-border-radius;
            }
        }
    }
}
