$app-primary: #fff;
$app-secondary: #00a8e8;
$app-background: #f1f1f1;
$app-secondary-background: #f3f6f8;
$button-secondary: #ddd;
$primary-border-radius: 15px;
$secondary-border-radius: 5px;
$error: #ff0033;
%primary-card-style {
    border-radius: $primary-border-radius;
    padding: 15px;
    background-color: $app-primary;
}
